html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
body {
  font-family: roboto;

  
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #80b435;
  transition: all 2s ease-in-out;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #80b435;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
.container {
  margin: 0 100px 0 100px;
}

/////================================

///header
.header {
  background: #80b435;
  height: 70px;
  line-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  .header__nav {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 5px;
    }
    ul {
      display: flex;
      animation: menu 2s;
      li {
        margin-left: 30px;

        a {
          color: #fff;
          font-size: 1rem;
          &::after{
            content: '';
            height: 2px;
            margin-top: -20px;
            width: 0%;
            display: block;
            transform: 0.5s;
            background: rgb(255, 255, 255);
            transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          &:hover{
            &::after{
              content: '';
              width: 100%;
            }
          }
        }
        
       
      }
    }
    .btn-click-menu{
      display: none;
    }
  }
  @keyframes menu {
    0%{
        top: 30px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
  .header-nav-hidden{
    display: none;
  }
  @media (max-width: 1024px) {
   
    .header__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      ul {
        display: none;
      }
      .btn-click-menu{
        display: block;
        position: absolute;
        right: 0;
        margin: 20px 0 0 0;
      }
    }
    .show-menu{
      z-index: 99999;
      width: 200px;
      display: block;
      height: 100%;
      transition: 2s cubic-bezier(0.23, 1, 0.320, 1);
      text-align: center;
      position: fixed;
      right: 0;
      top: 0;
      background: #80b435;
      opacity: 0.9;
      animation: show 2s;
      ul{
        z-index: 9999;
        li{
          a{
            color:#fff;

          }
        }
      }
      @keyframes show {
        0%{
          transition: 2;
          margin-left: 2px;
        }
        25%{
          transition: 2;

          margin-left: 7px;
  
        }
        75%{
          transition: 2;

          margin-left: 9px;
  
        }
        100%{
          transition: 2;

          margin-left: 200px;
        }
      }
    }
   
    .hidden-menu{
      display: none;
      transition: 2s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
  }
}
//banner

.banner {
  background-image: url("../images/Bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .link {
    a {
      color: #fff;
      cursor: pointer;
      font-size: 1.2rem;
    }
    span {
      color: #fff;
    }
  }
}

//products

.products {
  .container {
    .heading {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      p {
        font-size: 1.5rem;
      }
    }
    .card-products {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      .card {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        text-align: center;
        border: 0.5px solid #979797;
        .card-image {
            display: flex;
            justify-content: center;
          img {
            cursor: pointer;
            filter: grayscale(70%);
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            opacity: 0.7;
            &:hover {
              transition:2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
              opacity: 1;
              filter: grayscale(0%);
            }
          }
        }
        .card-body {
          border-top: 1px solid #979797;
          .title {
            margin-top: 10px;
            font-size: 1.5rem;
          }
          .price {
            font-size: 1.3rem;
          }
          .btn-addToCart {
            width: 150px;
            height: 30px;
            font-size: 1rem;
            background: none;
            border: none;
            color: #a70b0b;
          }
        }
      }
      @media (max-width: 900px) {
        .card {
          margin-top: 20px;
          flex: 50%;
          max-width: 50%;
          padding: 0 20px;
        }
      }
      @media (max-width: 600px) {
        .card {
          flex: 100%;
          max-width: 100%;
          text-align: center;
          .card-body {
            border-top: 1px solid #979797;
            .title {
              margin-top: 10px;
              font-size: 1rem;
            }
            .price {
              font-size: 1rem;
            }
            .btn-addToCart {
              text-align: center;
              margin-left: -6px;
              height: 30px;
              font-size: 0.8rem;
              background: none;
              border: none;
              color: #a70b0b;
            }
          }
        }
      }
    }
    .pagination {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
      .pagination-body {
        letter-spacing: 10px;
        button {
          width: 40px;
          height: 40px;
          background: #c50808;
          color: #fff;
          border-radius: 3px;
          border: none;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .heading {
      text-align: center;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}

.footer {
  background: #80b435;
  .footer-body {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    .div {
        flex: 33.33333333333333%;
        max-width: 33.33333333333333%;
      p {
        color: #fff;
      }
      ul {
        li {
          color: #fff;
        }
      }
    }
    @media (max-width:700px) {
        .div{
            margin-top: 10px;
            flex: 100%;
            max-width: 100%;
        }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
